<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Multiple Obat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>

<nav th:replace="fragments/fragment :: navbar (page = 'View All Resep')"></nav>
<table class="table">
    <thead>
    <tr>
        <th>Nama</th>
        <th>Bentuk</th>
        <th>Kuantitas</th>
        <th>No</th>
        <th><a th:href="@{} + ${}" class="btn">Add row</a></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <input type="text" th:field="*{listObat}">
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>